@import "../../../../styles.scss";

.single-container {
  position: relative;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 2px;
  width: auto;
  height: fit-content;

  > p:nth-child(2) {
    font-size: 16px;
    color: $color-primary;
    font-family: $font-primary;
    font-weight: 700;
  }

  > p:nth-child(3) {
    font-size: 16px;
    font-weight: 400px;
    color: #a8a8a8;
    margin: 0px 0;
    margin-top: 10px;
  }
}
.task-category {
  display: flex;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  width: 113px;
  justify-content: center;
  background-color: #0038ff;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
}
.progress-container {
  width: 100px;
  height: 8px;
  background: #eee;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 50%;
  background: #3b82f6;
  transition: width 0.3s ease-in-out;
}
.subtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
  margin-top: 20px;
}
.priority-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.assigned-of-task {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--form-fail-txt-col);
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
}
.circle-of-task {
  height: 32px;
  border-radius: 50px;
  width: 32px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -4px;
  outline: solid 2px #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  background-color: #1dab93;
}
