<div class="single-container">
  <div class="task-category">{{ [todo?.category] }}</div>
  <p>{{ todo?.title }}</p>
  <p>{{ todo?.description }}</p>
  <div class="subtasks">
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%"></div>
    </div>
    <span>1/2 Subtasks</span>
  </div>

  <div class="priority-container">
    <div class="assigned-of-task">
      @for (contact of selectedContacts; track contact) {
        <div class="circle-of-task"
             [ngStyle]="{ 'background-color': getAvatarColor(contact) }">
          {{ getInitials(contact.name) }}
        </div>
      }
    </div>
    <div class="priority-task">
      <img [src]="getPriorityIcon(todo?.priority)" alt="{{ todo?.priority }}" />
    </div>
  </div>

</div>
