<div class="single-container">
  <div class="task-category">{{ [todo?.category] }}</div>
  <p>{{ todo?.title }}</p>
  <p>{{ todo?.description }}</p>
  <div class="subtasks">
    <div class="progress-container">
      <div class="progress-bar" style="width: 50%"></div>
    </div>
    <span>1/2 Subtasks</span>
  </div>
  <div class="priority-container">
    <div class="assigned-of-task">
      <div class="circle-of-task">GW</div>
      <div class="circle-of-task">GW</div>
      <div class="circle-of-task">GW</div>
    </div>
    <div class="priority-task">
      <img src="../../../../assets/icons/prio_high.png" alt="prio_high-icon" />
    </div>
  </div>
</div>
