<div class="single-container">
  <div
    class="task-category"
    [ngStyle]="{ 'background-color': getCategoryColor(todo?.category) }"
  >
    {{ todo?.category }}
  </div>

  <span>{{ todo?.title }}</span>
  <span>{{ todo?.description }}</span>

  <div class="subtasks" *ngIf="totalSubtasks > 0">
    <progress
      [value]="completedSubtasks"
      [max]="totalSubtasks"
      [ngStyle]="{
        width: '100px',
        height: '15px',
        'accent-color': allSubtasksDone ? 'green' : '#3b82f6'
      }"
    ></progress>
    <span> {{ completedSubtasks }}/{{ totalSubtasks }} Subtasks </span>
  </div>

  <div class="priority-container">
    <div class="assigned-of-task">
      @for (contact of selectedContacts | slice:0:3; track contact) {
      <div
        class="circle-of-task"
        [ngStyle]="{ 'background-color': getAvatarColor(contact) }">
        {{ getInitials(contact.name) }}
      </div>
      }
      @if (selectedContacts.length > 3) {
        <div class="circle-of-task" [ngStyle]="{ 'background-color': '#D1D1D1'}">
          <span>+{{ selectedContacts.length - 3 }}</span>
        </div>
        }
    </div>
    <div class="priority-task">
      <img [src]="getPriorityIcon(todo?.priority)" alt="{{ todo?.priority }}" />
    </div>
  </div>
</div>
