<!-- <router-outlet></router-outlet> -->
<section class="section-container">
  <div class="section-inner">
    <div class="leftFrame"><app-navbar></app-navbar></div>
    <div class="masterFrame">
      <div class="topFrame">
        <app-header></app-header>
      </div>
      <!-- <div class="mainFrame"><app-summary></app-summary></div> -->
      <div class="mainFrame"><router-outlet></router-outlet></div>
    </div>
  </div>
</section>

<!-- Mobile Navigation-->
<nav class="mobile-nav">
  <a routerLink="summary" [class.active-nav]="isActive('/summary')">
    <img src="/assets/icons/summary.png" alt="Summary Icon" />Summary
  </a>
  <a routerLink="add-task" [class.active-nav]="isActive('/add-task')">
    <img src="/assets/icons/addtask.png" alt="Add Task Icon" />Add-Task
  </a>
  <a routerLink="board" [class.active-nav]="isActive('/board')">
    <img src="/assets/icons/board.png" alt="Board Icon" />Board
  </a>
  <a routerLink="contacts" [class.active-nav]="isActive('/contacts')">
    <img src="/assets/icons/contacts.png" alt="Contacts Icon" />Contacts
  </a>
</nav>