@import "./../../../styles.scss";

@keyframes slideIn {
  from {
    top: 25%;
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    top: 25%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    top: 25%;
    transform: translateX(0);
    opacity: 1;
  }

  to {
    top: 25%;
    transform: translateX(100%);
    opacity: 0;
  }
}

.shaddowBox {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.add_dialog_wrapper {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  height: 450px;
  background-color: #2a3647;
  border-radius: 32px;
  display: flex;
  gap: 0px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
  animation: slideIn 0.2s ease-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_dialog_wrapper.closing {
  animation: slideOut 0.2s ease-out;
}

.leftFrame {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 46px;
  width: 350px;
  background-color: #2a3647;
  flex-shrink: 0;

  >p {
    font-size: clamp(24px, 5vw, 61px);
    color: #ffffff;
    margin: 16px 0;
  }

  >img {
    width: 54px;
    height: 66px;
  }
}

.middleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61%;
  background-color: #ffffff;
  margin-right: -3px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: bold;
}

.rightFrame {
  box-sizing: content-box;
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  flex-shrink: 0;
  margin-left: 30px;
}

.close {
  position: relative;
  padding: 16px 32px;
  left: 310px;
  cursor: pointer;
  }

  .close2 {
    display: none;
  }

.input_wrapper {
  position: relative;
  width: 80%;
  padding: 16px 22px;
  color: white;

  .input_container {
    position: relative;
    width: 100%;
  }

  .floating_label {
    position: absolute;
    top: -10px;
    left: 16px;
    background: white;
    color: #29abe2;
    font-size: 14px;
    padding: 0 4px;
    transition: all 0.3s ease-in-out;
  }

  .input_email {
    color: #000;
    border: 1px solid #d3d3d3;
    /* Standard: hellgrauer Rahmen */
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    outline: none;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 2px solid #29abe2;
      /* Blauer Rahmen beim Fokus */
    }
  }

  /* Fehlerzustand: Roter Rahmen & rote Fehlermeldung */
  &.error .input_email {
    border: 2px solid red;
  }

  .input_name {
    color: #000;
    border: 1px solid #d3d3d3;
    /* Standard: hellgrauer Rahmen */
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    outline: none;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 2px solid #29abe2;
      /* Blauer Rahmen beim Fokus */
    }
  }

  &.error .input_name {
    border: 2px solid red;
  }

  .input_phone {
    color: #000;
    border: 1px solid #d3d3d3;
    /* Standard: hellgrauer Rahmen */
    padding: 16px;
    border-radius: 16px;
    width: 100%;
    background-color: white;
    outline: none;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 2px solid #29abe2;
      /* Blauer Rahmen beim Fokus */
    }
  }

  &.error .input_phone {
    border: 2px solid red;
  }

  .errorMessage {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    left: 16px;
    background: white;
    padding: 2px 4px;
  }
}

/* Icon für das Name-Feld */
.input_name {
  background-image: url("/assets/icons/person.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

/* Icon für das E-Mail-Feld */
.input_email {
  background-image: url("/assets/icons/mail.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

/* Icon für das Passwort-Feld */
.input_phone {
  background-image: url("/assets/icons/call.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

.createBtn {
  background-image: url("/assets/icons/checkBtn.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 10px) center;
}

.btn_wrapper {
  display: flex;
  padding-bottom: 30px;
  gap: 23px;
  padding: 0px 22px;
}

p {
  font-size: 26px;
  margin: 16px 0;
  color: #000000;
}

.btn {
  height: 48px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 36px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}

.cbtn {
  height: 48px;
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    border: 1px solid #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #2a3647;
  }
}

@media (max-width: 970px) {
  .add_dialog_wrapper {
    display: flex;
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .leftFrame {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 46px;
    width: 350px;
    height: 352px;
    background-color: #2a3647;
    flex-shrink: 0;
    padding-top: 20px;
  
    >p {
      font-size: 48px;
      color: #ffffff;
      margin: 16px 0;
    }
  
    >img {
      width: 54px;
      height: 66px;
    }
  }

  .middleFrame {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    background-color: #ffffff;
    padding-top: 60px;
    // align-items: center;
    max-width: 400px;
    width: 100%;
    height: 400px;
  }

  #tasks {
    font-size: 24px;
    color: #ffffff;
  }
  .rightFrame {
    box-sizing: content-box;
    max-width: 400px;
    width: 100%;
    height: 430px;
    color: #000000;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-left: 0px;
  }

  .btn_wrapper {
    box-sizing: content-box;
    max-width: 370px;
    width: 100%;
    display: flex;
    justify-content: center;
    // padding-bottom: 40px;
    gap: 23px;
  }

  .avatar {
    position: absolute;
    top: 330px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: bold;
  }

  .cancelBtn {
    display: none;
  }

  .close {
    display: none;
    }

    .close2 {
      display: flex;
      cursor: pointer;
      width: 95%;
      justify-content: flex-end;
      padding-top: 10px;
    }
}