<div class="add_dialog_wrapper" [class.closing]="isClosing">
  <div class="leftFrame">
    <img src="/assets/logo/logo.png" alt="" />
    <p>Edit contact</p>
  </div>

  <div class="middleFrame">
    <div class="avatar" [ngClass]="{ 'with-initials': name }">
      <div *ngIf="name" class="initials">{{ getInitials(name) }}</div>
    </div>

    <div class="rightFrame">
      <div class="input_wrapper">
        <input [(ngModel)]="name" type="text" class="input_name" />
      </div>
      <div class="input_wrapper">
        <input [(ngModel)]="email" type="text" class="input_email" />
      </div>
      <div class="input_wrapper">
        <input [(ngModel)]="phone" type="text" class="input_phone" />
      </div>
      <div class="btn_wrapper">
        <button class="btn emptyBtn" (click)="closeDialog()">Cancel</button>
        <button class="btn fullBtn" (click)="updateContact()">Save</button>
      </div>
    </div>
  </div>
</div>
