<div class="contact-container">
  <button class="add-contact-btn">
    Add new contact
    <img src="/assets/logo/person_add.png" alt="add-contact-button" />
  </button>
  <div class="contact-list">

<!-- <ul>
  <li *ngFor="let contact of getList()">
    {{ contact.name }}
  </li>
</ul> -->
<div class="single-contact" *ngFor="let contact of getList()">
  <div class="avatar">{{ getInitials(contact.name) }}</div>
  <div class="info">
    <p class="name">{{ contact.name }}</p>
    <p class="email">{{ contact.email }}</p>
  </div>
</div>




    <!-- <h3>A</h3>
    <div class="single-contact">
      <div class="avatar">AM</div>
      <div class="info">
        <p class="name">Anton Mayer</p>
        <p class="email">schulz&#64;hotmail.com</p>
      </div>
    </div>
    <div class="contact">
      <div class="single-contact">
        <div class="avatar">CM</div>
        <div class="info">
          <p class="name">Corina Meyer</p>
          <p class="email">schulz&#64;hotmail.com</p>
        </div>
      </div>

      <div class="contact">
        <h3>B</h3>
        <div class="single-contact">
          <div class="avatar">AM</div>
          <div class="info">
            <p class="name">Anton Mayer</p>
            <p class="email">schulz&#64;hotmail.com</p>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="single-contact">
          <div class="avatar">AM</div>
          <div class="info">
            <p class="name">Anton Mayer</p>
            <p class="email">schulz&#64;hotmail.com</p>
          </div>
        </div>
      </div>

      <div class="contact">
        <h3>C</h3>
        <div class="single-contact">
          <div class="avatar">AM</div>
          <div class="info">
            <p class="name">Anton Mayer</p>
            <p class="email">schulz&#64;hotmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->