<section>
  <div class="contact-container">
    <button class="add-contact-btn" (click)="openDialog()">
      Add new contact
      <img src="/assets/logo/person_add.png" alt="add-contact-button" />
    </button>

    <div class="contact-list">
      @for (letter of getAlphabeticalLetters(); track letter) {
      <div class="contact-letter">{{ letter }}</div>
      @for (contact of getContactsByLetter(letter); track contact.email) {
      <a (click)="selectContact(contact)" class="contact-link">
        <div class="single-contact">
          <div class="avatar">{{ getInitials(contact.name) }}</div>
          <div class="info">
            <p class="name">{{ contact.name }}</p>
            <p class="email">{{ contact.email }}</p>
          </div>
        </div>
      </a>
      } }
    </div>

    <!-- Dialogfenster nur anzeigen, wenn isDialogOpen true ist -->
    <p *ngIf="isDialogOpen">Dialog Status: Geöffnet</p>
    <app-add-contact-dialog *ngIf="isDialogOpen" (addDialogCloseed)="closeDialog($event)"></app-add-contact-dialog>
  </div>
  <app-single-contact *ngIf="selectedContact" [contact]="selectedContact"></app-single-contact>
</section>
