section {
  display: flex;
  height: 100%;
}
.contact-container {
  width: 300px;
  height: 100%;
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.add-contact-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: #2a3647;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.3s ease-in-out; /* Weicher Übergang */

  /* Icon-Größe */
  img {
    height: 20px;
  }

  /* Hover-Effekt */
  &:hover {
    background: #29abe2; /* Textfarbe ändern */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

h3 {
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.contact-list {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100%;
  padding: 20px;
  gap: 10px;
}

/* Scrollbar Styling */
.contact-list::-webkit-scrollbar {
  width: 8px;
}

.contact-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.contact-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.single-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 10px;
}

.info {
  flex: 1;
}

.name {
  font-weight: bold;
}

.email {
  color: #007cee;
  font-size: 0.9em;
}
