.loginFrame {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding-top: 48px;
  padding-right: 115px;
  padding-bottom: 48px;
  padding-left: 115px;
}

.custom-input {
  box-sizing: border-box;
  border: 0.5px solid #e7e7e7;
  transition: border-color 0.3s ease;
  color: rgb(87, 87, 87);
  width: 100%;
  border-radius: 10px;
  padding-top: 12px;
  padding-left: 21px;
  padding-bottom: 12px;
  padding-left: 21px;
}

.custom-input:focus {
  outline: none;
  border-color: #29abe2;
}

.custom-input.ng-invalid.ng-touched {
  border-color: #ff3c00b6;
}

.custom-input:not(:focus):not(.ng-invalid.ng-touched) {
  border-color: #e7e7e7;
}

.blueline {
  margin-top: 12px;
  margin-bottom: 48px;
}

.emailRaw {
  position: relative;
  margin-bottom: 24px;
}

.lockRaw {
  position: relative;
}

.mailIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 16px;
}

.lock {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 16px;
}

h2 {
  font-family: inter;
  font-size: 61px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
}

.button {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
  width: 380px;
}

.btn {
  font-size: 21px;
  font-weight: 700;
  height: 48px;
  width: 110px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}

.cbtn {
  font-size: 21px;
  font-weight: 700;
  height: 48px;
  width: 177px;
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    border: 1px solid #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #29abe2;
  }
}

.error-message {
  color: #ff3d00;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 10px;
}

.error-border {
  border-color: #ff3d00;
}

@media (max-width: 640px) {
  .button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
  }

  .btn {
    font-size: 21px;
    font-weight: 700;
    height: 48px;
    width: 180px;
    background-color: #2a3647;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 20px;
  }

  .cbtn {
    font-size: 21px;
    font-weight: 700;
    height: 48px;
    width: 180px;
    background-color: #ffffff;
    color: #2a3647;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-top: 20px;
  }

  .loginFrame {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 36px;
    padding-top: 36px;
    padding-left: 15px;
  }

  h2 {
    font-family: inter;
    font-size: 47px;
    font-weight: 700;
    color: #000000;
    margin: 0px;
  }
}

@media (max-width: 420px) {
  .button {
    width: 280px;
  }

  .loginFrame {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-bottom: 36px;
    padding-top: 16px;
    padding-left: 15px;
  }

  .blueline {
    margin-top: 12px;
    margin-bottom: 18px;
    width: 120px;
  }

  .btn {
    font-size: 18px;
    height: 36px;
    width: 150px;
  }

  .cbtn {
    font-size: 18px;
    height: 36px;
    width: 150px;
  }

  h2 {
    font-size: 36px;
  }
}
