<div class="loginFrame">
<h2>Log in</h2>
<img src="/assets/icons/blueLine.png" alt="blueline" class="blueline">
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="emailRaw">
    <input 
      class="custom-input" 
      type="email" 
      name="email"
      placeholder="E-Mail"
      [(ngModel)]="email"  
      required 
      (blur)="validateEmail()" 
      (focus)="emailTouched = true" 
    />
    <img src="/assets/icons/mail.png" alt="mailIcon" class="mailIcon">
    <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
  </div>
  <div class="lockRaw">
    <input 
      class="custom-input" 
      name="password"
      [type]="showPassword ? 'text' : 'password'" 
      [(ngModel)]="password" 
      placeholder="Passwort" 
      required 
      (blur)="validatePassword()" 
      (focus)="passwordTouched = true"
    />
    <img
      src="/assets/icons/lock.png"
      alt="lock"
      class="lock"
      *ngIf="!passwordTouched"
    />
    <img
      src="/assets/icons/visibility_off.png"
      alt="visibility_off"
      class="lock"
      *ngIf="passwordTouched && !showPassword"
      (click)="togglePasswordVisibility()"
    />
    <img
      src="/assets/icons/visibility.png"
      alt="visibility"
      class="lock"
      *ngIf="passwordTouched && showPassword"
      (click)="togglePasswordVisibility()"
    />
    <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
    <div *ngIf="generalError" class="error-message">{{ generalError }}</div>
  </div>
  
  <div class="button">
    <button class="btn" type="submit">Log In</button>
    <button class="cbtn" (click)="guestLogin()">Guest Log in</button>
  </div>
</form>
</div>

