<div class="loginFrame">
<h2>Log in</h2>
<form (submit)="login(); $event.preventDefault()">
  <div class="emailRaw"><input class="custom-input" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="E-Mail" required /></div>
  <div><input class="custom-input" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Passwort" required /></div>
  
</form>

<!-- <h2>Oder registrieren</h2>
<form (submit)="register(); $event.preventDefault()">
  <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="E-Mail" required />
  <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Passwort" required />
  <button type="submit">Registrieren</button>
</form> -->
<div class="button">
<form class="button" (submit)="guestLogin(); $event.preventDefault()">
  <div><button class="btn" type="submit">Log in</button></div>
  <div><button class="cbtn" type="submit">Gast Login</button></div>
</form>
</div>
</div>

