<h1>Legal Notice</h1>

<h2>Imprint</h2>
<ul>
  <li>[Student Names List]</li>
  <li>[Address of the JOIN operator - e.g. one of the students]</li>
  <li>[Postcode and city]</li>
</ul>

<h2>Exploring the Board</h2>
<p>Email: [Email]</p>

<h2>Acceptance of terms</h2>
<p>
  By accessing and using Join (Product), you acknowledge and agree to the
  following terms...
</p>

<h2>Scope and ownership of the product</h2>
<p>
  Join has been developed as part of a student group project in a web
  development bootcamp...
</p>

<h2>Proprietary rights</h2>
<p>
  Aside from the design owned by Developer Akademie GmbH, we, the listed
  students, retain...
</p>

<h2>Use of the product</h2>
<p>
  Join is intended to be used for lawful purposes only, in accordance with all
  applicable laws...
</p>

<h2>Disclaimer of warranties and limitation of liability</h2>
<p>Join is provided "as is" without warranty of any kind...</p>
