<section>
  <div class="headSection">
    <h2>Legal Notice</h2>
    <button class="back-btn" (click)="goBack()">
      <img src="/assets/icons/arrow-back-blue.svg" alt="Back Button" />
    </button>
  </div>

  <div>
    <h3>Imprint</h3>

    <ul>
      <li>Krosse Krabbe GmbH</li>
      <li>Schneckenstrasse 2</li>
      <li>92638 Bikini Bottom</li>
    </ul>

    <h3>
      Exploring the Board
    </h3>
    <span>Email: info&#64;krosse-krabbe.de</span>

    <h3>
      Acceptance of terms
    </h3>
    <span>
      By accessing and using <span class="blue">Join</span> (Product), you
      acknowledge and agree to the following terms and conditions, and any
      policies, guidelines, or amendments thereto that may be presented to you
      from time to time. We, the listed students, may update or change the terms
      and conditions from time to time without notice.
    </span>

    <h3>
      Scope and ownership of the product
    </h3>

    <span>
      <span class="blue">Join</span> has been developed as part of a student
      group project in a web development bootcamp at the
      <span class="blue">Developer Akademie GmbH</span>. It has an
      educational purpose and is not intended for extensive personal & business
      usage. As such, we cannot guarantee consistent availability, reliability,
      accuracy, or any other aspect of quality regarding this Product. The design
      of <span class="blue">Join</span> is owned by the
      <span class="blue">Developer Akademie GmbH</span>. Unauthorized use,
      reproduction, modification, distribution, or replication of the design is
      strictly prohibited.
    </span>

    <h3>Proprietary rights</h3>

    <span>
      Aside from the design owned by
      <span class="blue">Developer Akademie GmbH</span>, we, the listed
      students, retain all proprietary rights in
      <span class="blue">Join</span>, including any associated copyrighted
      material, trademarks, and other proprietary information.
    </span>

    <h3>Use of the product</h3>
    <span>
      <span class="blue">Join</span> is intended to be used for lawful
      purposes only, in accordance with all applicable laws and regulations. Any
      use of Join for illegal activities, or to harass, harm, threaten, or
      intimidate another person, is strictly prohibited. You are solely
      responsible for your interactions with other users of
      <span class="blue">Join</span>.
    </span>

    <h3>
      Disclaimer of warranties and limitation of liability
    </h3>

    <span>
      <span class="blue">Join</span> is provided "as is" without warranty of
      any kind, whether express or implied, including but not limited to the
      implied warranties of merchantability, fitness for a particular purpose, and
      non-infringement. In no event will we, the listed students, or the
      <span class="blue">Developer Akademie GmbH</span>, be liable for any
      direct, indirect, incidental, special, consequential or exemplary damages,
      including but not limited to, damages for loss of profits, goodwill, use,
      data, or other intangible losses, even if we have been advised of the
      possibility of such damages, arising out of or in connection with the use or
      performance of <span class="blue">Join</span>.
    </span>

    <h3>Indemnity</h3>

    <span>
      You agree to indemnify, defend and hold harmless us, the listed students,
      the <span class="blue">Developer Akademie GmbH</span>, and our
      affiliates, partners, officers, directors, agents, and employees, from and
      against any claim, demand, loss, damage, cost, or liability (including
      reasonable legal fees) arising out of or relating to your use of
      <span class="blue">Join</span> and/or your breach of this Legal Notice.
      For any questions or notices, please contact us at [Contact Email]. Date:
      Januar 6, 2023
    </span>
  </div>
</section>