// Profile Picture Background Colors

$profile-bg-1: #ff7a00;
$profile-bg-2: #ff5eb3;
$profile-bg-3: #6e52ff;
$profile-bg-4: #0038ff;
$profile-bg-5: #9327ff;
$profile-bg-6: #fc71ff;
$profile-bg-7: #00bee8;
$profile-bg-8: #1fd7c1;
$profile-bg-9: #ffa35e;
$profile-bg-10: #ffbb2b;
$profile-bg-11: #ffc701;
$profile-bg-12: #ffe62b;
$profile-bg-13: #c3ff2b;
$profile-bg-14: #ff745e;
$profile-bg-15: #ff4646;

// Main colors
$color-primary: #2a3647;
$color-primary-hover: #29abe2;
$color-primary-active: #091931;

// Input colors
$color-input-placeholder: #d1d1d1;
$color-input-text: #000000;
$color-input-error: #ff8190;

// Priority colors
$color-priority-urgent: #ff3d00;
$color-priority-medium: #ffa800;
$color-priority-low: #7ae229;
