<div class="board-section">
  <div class="headline-container">
    <div class="headline">
      <h3>Board</h3>
      <button class="add-task-btn-mobile">
        <img src="/assets/icons/add.png" alt="add-contact-button" />
      </button>
    </div>
    <div class="search-wrapper">
      <div class="search-box">
        <div class="search-container">
          <input type="text" class="search-input" placeholder="Find Task" #searchInput (input)="onSearchChange(searchInput.value)"/>
          <div class="search-icon-container">
            <img
              src="/assets/icons/search.png"
              alt="search-button"
              class="search-icon"
            />
          </div>
        </div>
        <button class="add-task-btn">
          Add task
          <img src="/assets/icons/add.png" alt="add-contact-button" />
        </button>
      </div>
      <div *ngIf="noResultsFound()" class="alert-message">
        <span>Suche hat keine Treffer ergeben</span>
      </div>
    </div>
  </div>
  <div class="drag-and-drop-container">
    <div class="dragndrop-container">
      <div class="info-dragdrop">
        <h2>To do</h2>
        <img class="plus-icon" src="/assets/icons/plus.png" alt="plus Icon" />
      </div>

      <div
        class="drop-area"
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="getFilteredList('todoList')"
        [cdkDropListConnectedTo]="[inprogressList, awaitFeedbackList, doneList]"
        (cdkDropListDropped)="drop($event, 'todo')"
      >
        @if (getFilteredList('todoList').length > 0) { @for (todo of
        getFilteredList('todoList'); track todo.id) {
        <div class="board-box" cdkDrag (click)="openOverlay(todo)">
          <app-single-todo [todo]="todo"></app-single-todo>
        </div>
        } } @else {
        <div class="empty-placeholder">No tasks To do</div>
        }
      </div>
    </div>

    <div class="dragndrop-container">
      <div class="info-dragdrop">
        <h2>Await feedback</h2>
        <img class="plus-icon" src="/assets/icons/plus.png" alt="plus Icon" />
      </div>

      <div
        class="drop-area"
        cdkDropList
        #awaitFeedbackList="cdkDropList"
        [cdkDropListData]="getFilteredList('awaitFeedbackList')"
        [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
        (cdkDropListDropped)="drop($event, 'awaitfeedback')"
      >
        @if (getFilteredList('awaitFeedbackList').length > 0) { @for (todo of
        getFilteredList('awaitFeedbackList'); track todo.id) {
        <div class="board-box" cdkDrag (click)="openOverlay(todo)">
          <app-single-todo [todo]="todo"></app-single-todo>
        </div>
        } } @else {
        <div class="empty-placeholder">No tasks To do</div>
        }
      </div>
    </div>

    <div class="dragndrop-container">
      <div class="info-dragdrop">
        <h2>Progress</h2>
        <img class="plus-icon" src="/assets/icons/plus.png" alt="plus Icon" />
      </div>

      <div
        class="drop-area"
        cdkDropList
        #inprogressList="cdkDropList"
        [cdkDropListData]="getFilteredList('inProgressList')"
        [cdkDropListConnectedTo]="[todoList, awaitFeedbackList, doneList]"
        (cdkDropListDropped)="drop($event, 'inprogress')"
      >
        @if (getFilteredList('inProgressList').length > 0) { @for (todo of
        getFilteredList('inProgressList'); track todo.id) {
        <div class="board-box" cdkDrag (click)="openOverlay(todo)">
          <app-single-todo [todo]="todo"></app-single-todo>
        </div>
        } } @else {
        <div class="empty-placeholder">No tasks To do</div>
        }
      </div>
    </div>

    <div class="dragndrop-container">
      <div class="info-dragdrop">
        <h2>Done</h2>
      </div>

      <div
        class="drop-area"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="getFilteredList('doneList')"
        [cdkDropListConnectedTo]="[todoList, inprogressList, awaitFeedbackList]"
        (cdkDropListDropped)="drop($event, 'done')"
      >
        @if (getFilteredList('doneList').length > 0) { @for (todo of
        getFilteredList('doneList'); track todo.id) {
        <div class="board-box" cdkDrag (click)="openOverlay(todo)">
          <app-single-todo [todo]="todo"></app-single-todo>
        </div>
        } } @else {
        <div class="empty-placeholder">No tasks To do</div>
        }
      </div>
    </div>
  </div>
  <div *ngIf="isOverlayOpen" class="overlay">
    <div class="overlay-content">
      <app-task-card
        [todo]="selectedTodo"
        (closeOverlay)="closeOverlay()"
      ></app-task-card>
    </div>
  </div>
</div>
