<div cdkDropListGroup>
    <div class="dragndrop-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="board-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of todo; track item) {
          <div class="board-box" cdkDrag>{{item}}</div>
        }
      </div>
    </div>
  
    <div class="dragndrop-container">
        <h2>Await feedback</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="inprogress"
          class="board-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of inprogress; track item) {
            <div class="board-box" cdkDrag>{{item}}</div>
          }
        </div>
      </div>

      <div class="dragndrop-container">
        <h2>Done</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="awaitfeedback"
          class="board-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of awaitfeedback; track item) {
            <div class="board-box" cdkDrag>{{item}}</div>
          }
        </div>
      </div>

      <div class="dragndrop-container">
        <h2>In progress</h2>
    
        <div
          cdkDropList
          [cdkDropListData]="done"
          class="board-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <div class="board-box" cdkDrag>{{item}}</div>
          }
        </div>
      </div>
  </div>
