@import "./../../../styles.scss";

@keyframes slideIn {
  from {
    top: 25%;
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    top: 25%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    top: 25%;
    transform: translateX(0);
    opacity: 1;
  }
  to {
    top: 25%;
    transform: translateX(100%);
    opacity: 0;
  }
}

.add_dialog_wrapper {
  box-sizing: border-box;
  width: 1000px;
  height: 450px;
  background-color: #2a3647;
  border-radius: 32px;
  display: flex;
  gap: 0px;
  position: fixed;
  right: 20%;
  top: 25%;
  animation: slideIn 0.2s ease-out;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_dialog_wrapper.closing {
  animation: slideOut 0.2s ease-out;
}

.leftFrame {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 46px;
  width: 350px;
  background-color: #2a3647;
  flex-shrink: 0;
  > p {
    font-size: 61px;
    color: #ffffff;
    margin: 0px 0;
    margin-top: 10px;
  }
  > img {
    width: 54px;
    height: 66px;
  }
}
#tasks {
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 80px;
}
#tasks::after {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: $color-primary-hover;
  margin: 5px;
}

.middleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: #ffffff;
  margin-right: -3px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: orangered;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: bold;
}

.rightFrame {
  box-sizing: content-box;
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  // flex-shrink: 0; /* Prevent shrinking */
}

.close {
  display: flex;
  justify-content: right;
  cursor: pointer;
  color: white;
  padding: 16px 32px;
  width: 70%;
}

// @media screen and (max-width: 500px) {
//     .add_dialog_wrapper{
//         width: 100vw;
//         padding: 16px 32px;
//     }
// }

.input_wrapper {
  color: white;
  padding: 16px 32px;
  width: 70%;
  > p {
    font-size: 26px;
    margin: 16px 0;
  }
  > input {
    color: #000000;
    outline: #29abe2;
    border: 1px solid #29abe2;
    padding: 16px 16px;
    border-radius: 16px;
    width: 80%;
    background-color: #ffffff;
    background-position: right 10px center; /* Position des Icons */
    background-repeat: no-repeat;
    background-size: 20px; /* Größe des Icons */
  }
}
/* Icon für das Name-Feld */
.input_name {
  background-image: url("/assets/icons/person.png");
}

/* Icon für das E-Mail-Feld */
.input_email {
  background-image: url("/assets/icons/mail.png");
}

/* Icon für das Passwort-Feld */
.input_phone {
  background-image: url("/assets/icons/call.png");
}

.btn_wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  font-size: 28px;
  margin: 16px 0;
  color: #000000;
}

.btn {
  height: 48px;
  display: flex;
  align-items: center;
  border: 2px solid #313131;
  color: #313131;

  border-radius: 24px;
  padding: 16px 24px;
  cursor: pointer;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }
  &:hover {
    background-color: #2a3647;
    color: #ffffff;
  }
}
