@import "./../../../styles.scss";

@keyframes slideIn {
  from {
    top: 33%;
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    top: 33%;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    top: 33%;
    transform: translateX(0);
    opacity: 1;
  }

  to {
    top: 33%;
    transform: translateX(100%);
    opacity: 0;
  }
}

.shaddowBox {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.add_dialog_wrapper {
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  height: 450px;
  background-color: #2a3647;
  border-radius: 32px;
  display: flex;
  gap: 0px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
  animation: slideIn 0.2s linear;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_dialog_wrapper.closing {
  animation: slideOut 0.2s linear;
}

.leftFrame {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 46px;
  width: 350px;
  background-color: #2a3647;
  flex-shrink: 0;

  > img {
    width: 54px;
    height: 66px;
  }

  > p:nth-child(2) {
    font-size: 61px;
    font-weight: 400px;
    color: #ffffff;
    margin: 0px 0;
    margin-top: 10px;
  }

  > p:nth-child(3) {
    font-size: 24px;
    font-weight: 400px;
    color: #ffffff;
    margin: 0px 0;
    margin-top: 10px;
  }
}

#tasks {
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 80px;
}

#tasks::after {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background-color: $color-primary-hover;
  margin: 5px;
}

.middleFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: #ffffff;
  margin-right: -3px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: bold;
}

.close {
  position: relative;
  padding: 16px 32px;
  left: 270px;
  content: url(/assets/icons/Close.png);
  cursor: pointer;
}

.close2 {
  display: none;
}

.rightFrame {
  box-sizing: content-box;
  width: 400px;
  color: #000000;
  background-color: #ffffff;
  flex-shrink: 0;
  /* Prevent shrinking */
}

.input_wrapper {
  position: relative;
  width: 70%;
  padding: 16px 22px;
  color: white;

  .input_container {
    position: relative;
    width: 100%;
  }

  input {
    color: #000;
    border: 1px solid #d3d3d3;
    /* Standard: hellgrauer Rahmen */
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    outline: none;
    transition: border 0.3s ease-in-out;

    &:focus {
      border: 2px solid $color-primary-hover;
    }
  }

  &.error input {
    border: 2px solid red;
  }

  .errorMessage {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    left: 16px;
    background: white;
    padding: 2px 4px;
  }
}

/* Icon für das Name-Feld */
.input_name {
  background-image: url("/assets/icons/person.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

/* Icon für das E-Mail-Feld */
.input_email {
  background-image: url("/assets/icons/mail.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

/* Icon für das Passwort-Feld */
.input_phone {
  background-image: url("/assets/icons/call.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 15px) center;
}

.cancelBtn {
  background-image: url("/assets/icons/iconoir_cancel.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 10px) center;
}

.createBtn {
  background-image: url("/assets/icons/checkBtn.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position: calc(100% - 10px) center;
}

.btn_wrapper {
  display: flex;
  gap: 24px;
  margin-left: 18px;
}

p {
  font-size: 28px;
  margin: 16px 0;
  color: #000000;
}

.btn {
  width: 200px;
  height: 48px;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  padding: 16px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}

.cbtn {
  height: 48px;
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 36px;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    border: 1px solid #29abe2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #2a3647;
  }
}

@media (max-width: 970px) {
  .add_dialog_wrapper {
    display: flex;
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: column;
  }

  .leftFrame {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 46px;
    width: 350px;
    height: 352px;
    background-color: #2a3647;
    flex-shrink: 0;
    padding-top: 20px;

    > p:nth-child(2) {
      font-size: 48px;
      font-weight: 400px;
      color: #ffffff;
      margin: 0px 0;
      margin-top: 10px;
    }
  }

  img {
    width: 54px;
    height: 66px;
  }

  .close {
    display: none;
  }

  .close2 {
    display: flex;
    cursor: pointer;
    width: 95%;
    justify-content: flex-end;
    padding-top: 10px;
  }

  .middleFrame {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    background-color: #ffffff;
    padding-top: 60px;
    // align-items: center;
    max-width: 400px;
    width: 100%;
    height: 400px;
  }

  #tasks {
    font-size: 18px;
    color: #ffffff;
  }

  .rightFrame {
    box-sizing: content-box;
    max-width: 400px;
    width: 100%;
    height: 430px;
    color: #000000;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-left: 0px;
  }

  .btn_wrapper {
    box-sizing: content-box;
    max-width: 370px;
    // width: 100%;
    display: flex;
    justify-content: center;
    // padding-bottom: 40px;
    gap: 23px;
  }

  .avatar {
    position: absolute;
    top: 340px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: bold;
  }

  .cancelBtn {
    display: none;
  }
}

@media (max-height: 1000px) {
  .add_dialog_wrapper {
    height: 650px;
  }

  .leftFrame {
    height: 160px;

    img {
      display: none;
    }
  }

  .avatar {
    position: absolute;
    top: 225px;
    width: 120px;
    height: 0px;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: bold;
  }
}

@media (max-height: 670px) {
  .btn {
    margin-top: -4px;
  }
}
