<div class="shaddowBox" [class.closing]="isClosing" (click)="closeDialog()">
  <div
    class="add_dialog_wrapper"
    [class.closing]="isClosing"
    (click)="$event.stopPropagation()"
  >
    <div class="close2">
      <img src="/assets/icons/close-white.png" (click)="closeDialog()" />
    </div>
    <div class="leftFrame">
      <img src="/assets/logo/logo.png" alt="" />
      <p>Add contact</p>
      <p id="tasks">Tasks are better with a team!</p>
    </div>

    <div class="middleFrame">
      <div
        class="avatar"
        [ngClass]="{ 'with-initials': name }"
        [ngStyle]="{ 'background-color': avatarColor }"
      >
        <img *ngIf="!name" src="assets/icons/dummyContact.png" />
        <div *ngIf="name" class="initials">{{ getInitials(name) }}</div>
      </div>
    </div>

    <div class="rightFrame">
      <div class="close" (click)="closeDialog()">
      </div>
      <div
        class="input_wrapper"
        [class.error]="nameInput.invalid && nameInput.touched"
      >
        <div class="input_container">
          <input
            [(ngModel)]="name"
            #nameInput="ngModel"
            type="text"
            class="input_name"
            placeholder="Name"
            minlength="3"
            required
            (focus)="isNameFocused = true"
            (blur)="isNameFocused = false"
          />
          <p
            *ngIf="nameInput.invalid && nameInput.touched"
            class="errorMessage"
          >
            Name required
          </p>
        </div>
      </div>
      <div
        class="input_wrapper"
        [class.error]="emailInput.invalid && emailInput.touched"
      >
        <div class="input_container">
          <input
            [(ngModel)]="email"
            #emailInput="ngModel"
            type="email"
            class="input_email"
            placeholder="Email"
            required
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            (focus)="isEmailFocused = true"
            (blur)="isEmailFocused = false"
          />
          <p
            *ngIf="emailInput.invalid && emailInput.touched"
            class="errorMessage"
          >
            Email required
          </p>
        </div>
      </div>
      <div
        class="input_wrapper"
        [class.error]="phoneInput.invalid && phoneInput.touched"
      >
        <div class="input_container">
          <input
            [(ngModel)]="phone"
            #phoneInput="ngModel"
            type="tel"
            class="input_phone"
            placeholder="Phone"
            required
            pattern="^[0-9+\s]+$"
            (focus)="isPhoneFocused = true"
            (blur)="isPhoneFocused = false"
          />
          <p
            *ngIf="phoneInput.invalid && phoneInput.touched"
            class="errorMessage"
          >
            Number required
          </p>
        </div>
      </div>

      <div class="btn_wrapper">
        <button class="cbtn cancelBtn" (click)="closeDialog()">Cancel</button>
        <button
          class="btn createBtn"
          [disabled]="
            nameInput.invalid || emailInput.invalid || phoneInput.invalid
          "
          [ngClass]="{
            hover: !(
              nameInput.invalid ||
              emailInput.invalid ||
              phoneInput.invalid
            )
          }"
          (click)="addContact()"
        >
          Create contact
        </button>
      </div>
    </div>
  </div>
</div>
