<div class="summary-section">
  <div class="headline">
    <h2>Join 360</h2>
    <div class="seperator"></div>
    <span>Key Metrics at a Glance</span>
    <div class="seperator-mobile"></div>
  </div>
  <div class="summary-contant">
    <div class="summary-cards">
      <div class="top-section">
        <a routerLink="/board" class="top-card">
          <div class="img-border">
            <img src="/assets/icons/edit.svg" alt="edit-white" />
          </div>
          <div class="counter">
            <span>{{ getList("todoList").length }}</span>
            <p>To-Do</p>
          </div>
        </a>
        <a routerLink="/board" class="top-card">
          <div class="img-border">
            <img src="/assets/icons/check.svg" alt="check-icon" />
          </div>
          <div class="counter">
            <span>{{ getList("doneList").length }}</span>
            <p>Done</p>
          </div>
        </a>
      </div>
      <a routerLink="/board" class="middle-section">
        <div class="middle-card">
          <div class="urgent-img">
            <img src="/assets/icons/urgent-summary.png" alt="urgent-icon" />
          </div>
          <div class="counter">
            <span>{{ totalUrgent() }}</span>
            <p>Urgent</p>
          </div>

          <div class="seperator-middle"></div>
          <div class="deadline">
            <span>{{ urgentNearestDueDate }}</span>
            <p>Upcoming Deadline</p>
          </div>
        </div>
      </a>
      <a routerLink="/board" class="bottom-section">
        <div class="bottom-card">
          <div class="counter">
            <span>{{ totalMatches() }}</span>
            <p>Task in Board</p>
          </div>
        </div>
        <div class="bottom-card">
          <div class="counter">
            <span>{{ getList("inProgressList").length }}</span>
            <p>Task in Progress</p>
          </div>
        </div>
        <div class="bottom-card">
          <div class="counter">
            <span>{{ getList("awaitFeedbackList").length }}</span>
            <p>Awaiting Feedback</p>
          </div>
        </div>
      </a>
    </div>
    <div class="summary-welcome" [@fadeIn]>
      <span>{{ greeting }},</span>
      <span>{{ displayName ? displayName : "Gast" }}</span>
    </div>
  </div>
  <div
    *ngIf="showText"
    class="summary-welcome-mobile"
    [@moveText]="textState"
    [@fadeIn]
  >
    <span>{{ greeting }},</span>
    <span>{{ displayName ? displayName : "Gast" }}</span>
  </div>
</div>
