@import "./../../../styles.scss";
.summary-section {
  display: flex;
  flex-direction: column;
  margin: 40px;
  height: calc(80vh - 10vh);
}
.headline {
  width: auto;
  height: 73px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 36px;

  > h2 {
    font-size: clamp(30px, 3vw, 61px);
    margin: 0px;
    font-weight: 700;
  }

  > span {
    font-size: clamp(16px, 2vw, 27px);
    margin: 0px;
    font-weight: 400;
  }
}

.seperator {
  width: 0px;
  height: 45px;
  border: 2px solid rgb(41, 171, 226);
  background-color: rgb(41, 171, 226);
}
.seperator-mobile {
  display: none;
}
.summary-contant {
  display: flex;
  // padding: 30px;
  margin-top: 30px;
  gap: 10px;
}
.summary-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  height: 65vh;
}
.top-section {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  transition: all 1.5s ease-in-out;
  > :hover {
    transform: scale(1.06);
    background-color: $color-primary;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out;
    > .img-border {
      background-color: #fff;
      transition: background-color 0.2s ease-in-out;
      > img {
        width: clamp(18px, 2vw, 28px);
        filter: brightness(0);
        transition: width 0.2s ease-in-out, filter 0.2s ease-in-out;
      }
    }
  }
}
.top-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: black;
  // gap: 32px;
  // width: 264px;
  height: 168px;
  width: clamp(150px, 50vw, 264px);
  height: clamp(100px, 20vh, 168px);
  border-radius: 30px;
  // padding: 38px 19px 38px 19px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.img-border {
  width: clamp(40px, 4vw, 69px);
  height: clamp(40px, 4vw, 69px);
  border-radius: 100%;
  background-color: #2a3647;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width: clamp(16px, 4vw, 32px);
    filter: brightness(0) invert(1);
  }
}
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 14px;

  > span {
    font-size: clamp(40px, 5vw, 64px);
    font-weight: 600;
  }
  > p {
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 400;
    margin: 0;
  }
}
.middle-section {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 168px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.middle-section:hover {
  transform: scale(1.06);
  background-color: $color-primary;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
}
.middle-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
  width: 100%;
}
.urgent-img {
  > img {
    width: clamp(40px, 5vw, 60px);
  }
}
.seperator-middle {
  width: 0px;
  height: 100px;
  border: 2px solid #d1d1d1;
  background-color: #d1d1d1;
}
.deadline {
  text-align: center;
  > span {
    font-size: clamp(12px, 2vw, 21px);
    font-weight: 600;
  }
  > p {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    margin: 0;
  }
}
.bottom-section {
  display: flex;
  text-decoration: none;
  color: black;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  transition: all 1.5s ease-in-out;
  > :hover {
    transform: scale(1.06);
    background-color: $color-primary;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out;
  }
}
.deadline {
  display: flex;
  flex-direction: column;
}
.bottom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  // padding: 38px 19px 38px 19px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.summary-welcome {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  > span:nth-child(1) {
    font-size: clamp(30px, 3vw, 61px);
    font-weight: 500;
  }
  > span:nth-child(2) {
    font-size: clamp(30px, 4vw, 64px);
    font-weight: 700;
    color: $color-primary-hover; /* Farbe anpassen */
  }
}
.summary-welcome-mobile {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  > span:nth-child(1) {
    font-size: clamp(30px, 3vw, 61px);
    font-weight: 500;
  }
  > span:nth-child(2) {
    font-size: clamp(30px, 4vw, 64px);
    font-weight: 700;
    color: $color-primary-hover; /* Farbe anpassen */
  }
}
.summary-welcome-mobile {
  display: none;
}
@media (max-width: 768px) {
  .summary-welcome-mobile {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    height: 75%;
  }
  .summary-section {
    height: calc(61vh - 5vh);
    margin: 10px;
  }

  .summary-cards {
    width: 100%;
    height: 60vh;
  }
  .summary-welcome {
    display: none;
  }
  .headline {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding-left: 0px;
  }
  .seperator {
    display: none;
  }
  .seperator-mobile {
    display: block;
    width: 90px;
    // height: 20px;
    border: 2px solid rgb(41, 171, 226);
    background-color: rgb(41, 171, 226);
  }
  .top-card {
    height: clamp(100px, 16vh, 168px);
  }
  .middle-section {
    height: clamp(100px, 17vh, 168px);
  }
  .bottom-card {
    height: clamp(100px, 16vh, 168px);
  }
}
