<div class="summary-section">
  <div class="headline">
    <h2>Join 360</h2>
    <div class="seperator"></div>
    <span>Key Metrics at a Glance</span>
  </div>
  <div class="summary-contant">
    <div class="summary-cards">
      <div class="top-section">
        <div class="top-card">
          <div class="img-border">
            <img src="/assets/icons/edit-white.png" alt="edit-white" />
          </div>
          <div class="counter">
            <span>1</span>
            <span>To-Do</span>
          </div>
        </div>
        <div class="top-card">
          <div class="img-border">
            <img src="/assets/icons/edit-white.png" alt="edit-white" />
          </div>
          <div class="counter">
            <span>1</span>
            <span>To-Do</span>
          </div>
        </div>
      </div>
      <div class="middle-section"></div>
    </div>
    <div class="summary-welcome">
      <span>{{ greeting }},</span>
      <span>{{ displayName ? displayName : 'Gast' }}</span>
    </div>
  </div>
</div>
