<div class="single-contact">
  <div class="headline">
    <h2>Contacts</h2>
    <div class="seperator"></div>
    <p>Better with a team</p>
  </div>
  <div class="nameRow"> 
    <div class="avatar">{{ getInitials(contact.name) }}</div>
    <div class="nameEdit">
        <div class="name"><p class="name">{{ contact.name }}</p></div>
        <div class="edit"></div>
    </div>

    <div class="subline"></div>
      <div class="emailRow"><p class="email">{{ contact.email }}</p></div>
      <div class="phoneRow"><p class="email">{{ contact.phone }}</p></div>
  </div>
</div>



