@import "./../../../../styles.scss";

/* Animation für das Einfliegen von rechts nach links */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-show {
  animation: slideInFromRight 0.5s ease-out forwards;
  z-index: 0;
}

.single-contact {
  display: flex;
  flex-direction: column;
  margin: 35px 45px;
  // width: 1100px;
  width: 100%;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-weight: 400px;
  border: solid 3px;
}

.nameRow {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nameEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  display: flex;
  // width: 100%;
  justify-content: flex-start;
  font-size: 47px;

  >p {
    margin: 0px;
  }
}

.edit {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.editIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 26px;
  height: 24px;
  margin-right: 5px;
  padding-right: 30px;
  gap: 8px;

  >img {
    width: 24px;
    height: 24px;
  }
}

.deleteIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  >img {
    width: 24px;
    height: 24px;
  }
}

.editIcon:hover .edit-icon {
  content: url("/assets/icons/edit-blue.png");
}

.editIcon:hover .contact-link {
  color: $color-primary-hover;
  font-weight: 700;
}

.deleteIcon:hover .delete-icon {
  content: url("/assets/icons/delete-blue.png");
}

.deleteIcon:hover .contact-link {
  color: $color-primary-hover;
  font-weight: 700;
}

.email {
  color: $color-primary-hover;
}

.emailRow p:first-child {
  font-size: 20px;
  /* Beispiel: Schriftgröße ändern */
}

@media (max-width: 1200px) {
  .name {
    font-size: 28px;
    font-weight: 700;

    >p {
      margin: 0px;
    }
  }

  .avatar {
    width: 70px;
    height: 70px;
    font-size: 27px;
  }

  .single-contact {
    width: max-content;
  }
}

@media (max-width: 960px) {
  .name {
    font-size: 24px;
    font-weight: 700;

    >p {
      margin: 0px;
    }
  }

  .single-contact {
    margin: 35px 0px;
  }
}

@media (max-width: 815px) {
  .avatar {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }

  .name {
    font-size: 20px;
    font-weight: 700;

    >p {
      margin: 0px;
    }
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 26px;

    >p {
      margin: 0px;
    }
  }
}

@media (max-width: 620px) {
  .edit {
    display: none;
  }
}