<div class="single-contact">
  <div class="headline">
    <h2>Contacts</h2>
    <div class="seperator"></div>
    <p>Better with a team</p>
  </div>
  <div class="nameRow">
    <div class="nameContainer">
      <div class="avatar" [ngStyle]="{ 'background-color': avatarColor }">
        {{ getInitials(contact.name) }}
      </div>
      <div class="nameEdit">
        <div class="name">
          <p>{{ contact.name }}</p>
        </div>
        <div class="edit">
          <div class="editIcon" (click)="openDialog()">
            <svg
              class="contact-link"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                class="edit-icon-path"
                d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25Z"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p (click)="openDialog()" class="contact-link">Edit</p>
          </div>
          <div class="deleteIcon">
            <img
              (click)="deleteContact()"
              src="/assets/icons/delete.png"
              alt="delete-icon"
            />
            <p (click)="deleteContact()">Delete</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subline"></div>
  <div class="emailRow">
    <p>Contact Information</p>
    <p><b>Email</b></p>
    <p class="email">{{ contact.email }}</p>
  </div>
  <div class="phoneRow">
    <p><b>Phone</b></p>
    <p class="phone">{{ contact.phone }}</p>
  </div>
  <p *ngIf="isDialogOpen">Dialog Status: Geöffnet</p>
  <app-edit-contact-dialog
    *ngIf="isDialogOpen"
    [contact]="selectedContact"
    (editDialogClosed)="closeDialog()"
    (contactUpdated)="updateContact($event)"
  ></app-edit-contact-dialog>
</div>
