<div class="single-contact">
  <div class="headline">
    <h2>Contacts</h2>
    <div class="seperator"></div>
    <p>Better with a team</p>
  </div>
  <div class="nameRow">
    <div class="nameContainer">
      <div class="avatar" [ngStyle]="{ 'background-color': avatarColor }">{{ getInitials(contact.name) }}</div>
      <div class="nameEdit">
        <div class="name">
          <p>{{ contact.name }}</p>
        </div>
        <div class="edit">
          <div class="editIcon">
            <img
              (click)="openDialog()"
              class="contact-link"
              src="/assets/icons/edit.png"
              alt="edit-icon"
            />
            <p (click)="openDialog()" class="contact-link">Edit</p>
          </div>
          <div class="deleteIcon">
            <img
              (click)="deleteContact()"
              src="/assets/icons/delete.png"
              alt="delete-icon"
            />
            <p (click)="deleteContact()">Delete</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subline"></div>
  <div class="emailRow">
    <p>Contact Information</p>
    <p><b>Email</b></p>
    <p class="email">{{ contact.email }}</p>
  </div>
  <div class="phoneRow">
    <p><b>Phone</b></p>
    <p class="phone">{{ contact.phone }}</p>
  </div>
  <p *ngIf="isDialogOpen">Dialog Status: Geöffnet</p>
  <app-edit-contact-dialog *ngIf="isDialogOpen" [contact]="selectedContact" (editDialogClosed)="closeDialog()" (contactUpdated)="updateContact($event)"></app-edit-contact-dialog>
</div>
