@import "./../../../styles.scss";

section {
  // @include dFlex($jc: space-between, $ai: center, $g: 0px);
  display: flex;
  background-color: #2a3647;
  color: #ffffff;
  width: 232px;
  height: 100%;
}

.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding-top: 66px;
  padding-bottom: 66px;
  box-sizing: border-box;
}

.logo-img {
  width: 90px;
  height: 90px;
}

.navi {
  width: 100%;
}

.nav-item {
  width: 100%;

  &:target {
    background-color: #091931;
    color: white;
  }

  a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    font-size: $font-regular;
    font-weight: 200;
    padding: 15px 25%;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: #2A3D59;
      color: white;
    }

    &:focus {
      background-color: #091931;
      color: white;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.active-nav {
  background-color: #091931;
  color: white;
}

.legal-notice-links {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.legal-item {
  margin-bottom: 10px;

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-weight: 200;
    transition: color 0.1s;
    padding: 5px 0;

    &:hover {
      color: $color-primary-hover;
      font-weight: 400;
    }
  }
}

@media (max-width: 960px) {
  section {
    width: 180px;
  }
}
