<section>
    <img class="logo-img" src="assets/logo/logo.png" alt="Join logo">
    <nav class="navi">
        <div class="nav-item">
            <a href="#summary">
                <img src="../../../assets/icons/summary.png" alt="Summary Icon"> Summary
            </a>
        </div>
        <div class="nav-item">
            <a href="#add-task">
                <img src="../../../assets/icons/addtask.png" alt="add-task Icon"> Add Task
            </a>
        </div>
        <div class="nav-item">
            <a href="#board">
                <img src="../../../assets/icons/board.png" alt="board Icon"> Board
            </a>
        </div>
        <div class="nav-item">
            <a href="#contacts">
                <img src="../../../assets/icons/contacts.png" alt="board Icon"> Contacts
            </a>
        </div>
    </nav>
    <div class="legal-notice-links">
        <div class="legal-item"><a href="">Privacy Policy</a></div>
        <div class="legal-item"><a href="">Legal Notice</a></div>
    </div>
</section>