<section>
    <div class="logoFrame" [@moveLogo]="logoState">
      <img src="/assets/logo/logo_start.png" alt="search-button" class="logo">
    </div>
    <div *ngIf="!isSignupRoute" class="signUpBtn"><p>Not a Join user?</p><button class="btn" routerLink="signup">Sign up</button></div>
    <div [@fadeIn] *ngIf="logoState === 'moved'">
      <div class="inputFrame"><router-outlet></router-outlet></div>
      <div *ngIf="!isSignupRoute" class="signUpBtnMobile"><p>Not a Join user?</p><button class="btn" routerLink="signup">Sign up</button></div>
      <div class="policyRow">
        <a routerLink="privacypolicy"><span>Privacy Policy</span></a>
        <a routerLink="legalnotice"><span>Legal notice</span></a>
    </div>
    </div>
  </section>
