<div class="loginFrame">
  <div class="arrowBack">
    <a routerLink="login"><img src="/assets/icons/arrow-left-line.png" alt="arrowBack"></a>
  </div>
    <h2>Sign up</h2>
    <img class="blueline" src="/assets/icons/blueLine.png" alt="blueline" class="blueline">
    
    <form (submit)="register(); $event.preventDefault()">
    <div class="emailRaw">
      <input class="custom-input" type="name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Name" required (blur)="validateName()" [ngClass]="{'error-border': emailError && emailTouched}" (focus)="emailTouched = true" />
      <img src="/assets/icons/person.png" alt="lock" class="lock">
      <div *ngIf="nameError" class="error-message">{{ nameError }}</div>
    </div>
    <div class="emailRaw">
      <input class="custom-input" type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="E-Mail" required (blur)="validateEmail()" [ngClass]="{'error-border': emailError && emailTouched}" (focus)="emailTouched = true"/>
      <img src="/assets/icons/mail.png" alt="mailIcon" class="mailIcon">
      <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
    </div>
    <div class="emailRaw">
      <input class="custom-input" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Passwort" required (blur)="validatePassword()" [ngClass]="{'error-border': emailError && emailTouched}" (focus)="emailTouched = true"/>
      <img src="/assets/icons/lock.png" alt="lock" class="lock">
      <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>
    </div>
    <div class="emailRaw">
      <input class="custom-input" type="password" [(ngModel)]="confirm" [ngModelOptions]="{standalone: true}" placeholder="Passwort bestätigen" required (blur)="validateConfirm()" [ngClass]="{'error-border': emailError && emailTouched}" (focus)="emailTouched = true"/>
      <img src="/assets/icons/lock.png" alt="lock" class="lock">
      <div *ngIf="confirmError" class="error-message">{{ confirmError }}</div>
    </div>
      
    <div class="acceptRow">
      <input type="checkbox" [(ngModel)]="accept" [ngModelOptions]="{standalone: true}" required />
      <p>I accept the <a routerLink="privacypolicy">Privacy policy</a></p>
    </div>
    <div class="button">
      <button class="btn" type="submit">Sign up</button>
    </div>
    </form>
    </div>
