<section>
  <div class="headSection">
    <h2>Privacy Policy</h2>
    <button class="back-btn" (click)="goBack()">
      <img src="/assets/icons/arrow-back-blue.svg" alt="Back Button" />
    </button>
  </div>

  <div>
    <span>
      Person responsible for data processing:<br />
      Thaddäus Quentin Tentakel<br />
      Schneckenstrasse 2<br />
      92638 Bikini Bottom<br />
      Email: info&#64;krosse-krabbe.de<br />
    </span>

    <span>
      We are pleased about your interest in our project management tool. Protecting your privacy is very important to
      us.
      Below, we inform you in detail about how we handle your data.
    </span>

    <h3>
      1. Access data and hosting
    </h3>
    <span>
      You can visit our websites without providing any personal information. Each time a website is accessed, the web
      server automatically saves a so-called server log file, which contains, for example, the name of the requested
      file,
      your IP address, date and time of the access, the amount of data transferred, and the requesting provider (access
      data) and documents the access. This access data is evaluated exclusively for the purpose of ensuring trouble-free
      operation of the site as well as improving our offering. This serves to protect our legitimate interests in a
      correct presentation of our offering, which are overriding in the context of a balancing of interests, in
      accordance
      with Art. 6 (1) sentence 1 lit. f GDPR.
    </span>

    <h3>
      2. Data processing for contract processing and contact
    </h3>

    <h4>2.1 Data processing for contract processing</h4>

    <span>
      For the purpose of contract processing (including inquiries about and processing of any warranty and performance
      disruption claims as well as any statutory updating obligations) in accordance with Art. 6 (1) sentence 1 lit. b
      GDPR, we collect personal data if you voluntarily provide it to us in the context of your order. Mandatory fields
      are marked as such because we absolutely need the data in these cases for contract processing, and we cannot send
      the order without this information. What data is collected can be seen from the respective input forms. Further
      information on the processing of your data, in particular on the transfer to our service providers for the
      purposes
      of order, payment, and shipping processing, can be found in the following sections of this privacy policy. After
      complete processing of the contract, your data will be restricted for further processing and deleted after the
      expiry of the tax and commercial retention periods in accordance with Art. 6 (1) sentence 1 lit. c GDPR, unless
      you
      have expressly consented to further use of your data in accordance with Art. 6 (1) sentence 1 lit. a GDPR or we
      reserve the right to use data beyond this, which is legally permitted and about which we inform you in this
      declaration.
    </span>

    <h4>2.2 Customer account</h4>

    <span>
      If you have given your consent in accordance with Art. 6 (1) sentence 1 lit. a GDPR by deciding to open a customer
      account, we will use your data for the purpose of opening the customer account as well as storing your data for
      further future orders on our website. Deletion of your customer account is possible at any time and can either be
      done by sending a message to the contact option described in this privacy policy or through a designated function
      in
      the customer account. After deletion of your customer account, your data will be deleted unless you have expressly
      consented to further use of your data in accordance with Art. 6 (1) sentence 1 lit. a GDPR or we reserve the right
      to use data beyond this, which is legally permitted and about which we inform you in this declaration.
    </span>

    <h4>2.3 Contact</h4>

    <span>
      In the context of customer communication, we collect personal data for the purpose of processing your inquiries in
      accordance with Art. 6 (1) sentence 1 lit. b GDPR, if you voluntarily provide us with this data when contacting us
      (e.g. via contact form or email). Mandatory fields are marked as such because we absolutely need the data in these
      cases to process your contact. What data is collected can be seen from the respective input forms. After complete
      processing of your inquiry, your data will be deleted unless you have expressly consented to further use of your
      data in accordance with Art. 6 (1) sentence 1 lit. a GDPR or we reserve the right to use data beyond this, which
      is
      legally permitted and about which we inform you in this declaration.
    </span>

    <h3>
      3. Data processing for payment processing
    </h3>
    <span>
      In the context of payment processing for our project management tool, we work with the following partners:
      technical
      service providers, credit institutions, payment service providers. No personal data is stored by third parties.
    </span>

    <h4>3.1 Data processing for transaction processing</h4>

    <span>
      Depending on the selected payment method, we pass on the data necessary for the processing of the payment
      transaction to our technical service providers, who act as processors for us, or to the commissioned credit
      institutions or to the selected payment service provider, to the extent that this is necessary for the processing
      of
      the payment. This serves the fulfillment of the contract in accordance with Art. 6 (1) sentence 1 lit. b GDPR. The
      payment service providers partly collect the data necessary for the processing of the payment themselves, e.g. on
      their own website or through a technical integration in the order process. In this respect, the privacy policy of
      the respective payment service provider applies. If you have any questions about our partners for payment
      processing
      and the basis of our cooperation with them, please contact the contact option described in this privacy policy.
    </span>

    <h4>
      3.2 Data processing for the purpose of fraud prevention and optimization of our payment processes
    </h4>

    <span>
      If necessary, we provide our service providers with further data, which they use together with the data necessary
      for the processing of the payment as our processors for the purpose of fraud prevention and the optimization of
      our
      payment processes (e.g. invoicing, processing of contested payments, support for accounting). This serves our
      legitimate interests in protecting against fraud or in efficient payment management, which are overriding in the
      context of a balancing of interests, in accordance with Art. 6 (1) sentence 1 lit. f GDPR.
    </span>

    <h3>
      4. Cookies and other technologies
    </h3>

    <span>
      General Information To make visiting our website attractive and to enable the use of certain functions, we use
      technologies including so-called cookies on various pages. Cookies are small text files that are automatically
      stored on your device. Some of the cookies we use are deleted after the end of the browser session, i.e. after you
      close your browser (session cookies). Other cookies remain on your device and enable us to recognize your browser
      the next time you visit (persistent cookies). Protection of privacy on end devices When using our online offer, we
      use absolutely necessary technologies to provide the expressly requested telemedia service. The storage of
      information on your device or access to information that is already stored on your device does not require your
      consent in this respect. For non-essential functions, the storage of information on your device or access to
      information that is already stored on your device requires your consent. We inform you that if consent is not
      granted, parts of the website may not be fully usable. Any consents you have given will remain in effect until you
      adjust or reset the respective settings on your device. Subsequent data processing through cookies and other
      technologies We use such technologies that are necessary for the use of certain functions of our website (e.g.
      shopping cart function). Through these technologies, IP address, time of visit, device and browser information, as
      well as information about your use of our website (e.g. information about the content of the shopping cart) are
      collected and processed. This serves our legitimate interests in optimizing the presentation of our offering,
      which
      are overriding in the context of a balancing of interests, in accordance with Art. 6 (1) sentence 1 lit. f GDPR.
      The
      cookie settings for your browser can be found at the following links: Microsoft Edge™ / Safari™ / Chrome™ /
      Firefox™
      / Opera™ If you have given your consent to the use of technologies in accordance with Art. 6 (1) sentence 1 lit. a
      GDPR, you can withdraw your consent at any time by sending a message to the contact option described in this
      privacy
      policy.
    </span>

    <h3>
      5. Contact options and your rights
    </h3>

    <h4>5.1 Your rights</h4>

    <span>
      As a data subject, you have the following rights: according to Art. 15 GDPR, the right to request information
      about
      your personal data processed by us to the extent specified therein; according to Art. 16 GDPR, the right to
      request
      the correction of incorrect or completion of your personal data stored by us without undue delay; according to
      Art.
      17 GDPR, the right to request the deletion of your personal data stored by us, unless further processing is
      required
      for the exercise of the right to freedom of expression and information; for compliance with a legal obligation;
      for
      reasons of public interest; or for the establishment, exercise, or defense of legal claims; according to Art. 18
      GDPR, the right to request the restriction of processing your personal data to the extent that the accuracy of the
      data is contested by you; the processing is unlawful, but you oppose the erasure of the data; we no longer need
      the
      data, but you require it for the establishment, exercise, or defense of legal claims; or you have objected to
      processing in accordance with Art. 21 GDPR; according to Art. 20 GDPR, the right to receive your personal data
      that
      you have provided to us in a structured, commonly used, and machine-readable format, or to request the
      transmission
      to another controller; according to Art. 77 GDPR, the right to lodge a complaint with a supervisory authority. As
      a
      rule, you can contact the supervisory authority of your usual place of residence or workplace or our company
      headquarters. Right to object If we process personal data as explained above to protect our legitimate interests,
      which are overriding in the context of a balancing of interests, you can object to this processing with effect for
      the future. If the processing is for direct marketing purposes, you can exercise this right at any time as
      described
      above. If the processing is for other purposes, you only have a right to object if there are grounds arising from
      your particular situation. After exercising your right to object, we will not further process your personal data
      for
      these purposes unless we can demonstrate compelling legitimate grounds for the processing which override your
      interests, rights, and freedoms, or if the processing is for the establishment, exercise, or defense of legal
      claims. This does not apply if the processing is for direct marketing purposes. Then we will not further process
      your personal data for this purpose.
    </span>

    <h4>5.2 Contact options</h4>

    <span>
      If you have any questions about the collection, processing, or use of your personal data, for information,
      correction, restriction, or deletion of data, as well as the revocation of consents given or objection to a
      particular data use, please contact us directly using the contact details provided in our imprint.
    </span>
  </div>
</section>