<div class="shaddowBox" [class.closing]="isClosing" (click)="closeOverlay.emit()">
  <div class="task_card_wrapper" (click)="$event.stopPropagation()">
    <div class="task-container">

      <div class="header-task">
        <div class="task-category" [ngStyle]="{ 'background-color': getCategoryColor(todo?.category) }">
          <ng-container *ngIf="!isEditing; else editCategory">
            <span>{{ todo?.category }}</span>
          </ng-container>
          <ng-template #editCategory>
            <!-- <input [(ngModel)]="editedTodo.category" /> -->
            <span>{{ todo?.category }}</span>
          </ng-template>
        </div>
        <div class="close" (click)="closeOverlay.emit()">
          <img src="/assets/icons/close.png" alt="close" />
        </div>
      </div>

      <ng-container *ngIf="!isEditing; else editTitle">
        <span>{{ todo?.title }}</span>
      </ng-container>
      <ng-template #editTitle>
        <input [(ngModel)]="editedTodo.title" />
      </ng-template>

      <ng-container *ngIf="!isEditing; else editDescription">
        <span>{{ todo?.description }}</span>
      </ng-container>
      <ng-template #editDescription>
        <input [(ngModel)]="editedTodo.description" />
      </ng-template>

      <div class="priority-date">
        <span>Due date:</span>
        <ng-container *ngIf="!isEditing; else editDueDate">
          <span>{{ todo?.dueDate }}</span>
        </ng-container>
        <ng-template #editDueDate>
          <input type="date" [(ngModel)]="editedTodo.dueDate" />
        </ng-template>
      </div>

      <div class="priority">
        <span>Priority:</span>
        <div class="priority-icon">
          <ng-container *ngIf="!isEditing; else editPriority">
            <span>{{ todo?.priority }}</span>
          </ng-container>
          <ng-template #editPriority>
            <select [(ngModel)]="editedTodo.priority">
              <option value="urgent">Urgent</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
          </ng-template>
          <img [src]="getPriorityIcon(todo?.priority)" alt="{{ todo?.priority }}" />
        </div>
      </div>

      <ng-container *ngIf="!isEditing; else editPriority">
      <div class="assigned">
        <p>Assigned TO :</p>
        <div class="assigned-container">
          <div class="circle-of-task">GW</div>
          @if (!isEditing) {
          <span>{{ todo?.assignedTo }}</span>
          } @else {
          <input [(ngModel)]="editedTodo.assignedTo" />
          }
        </div>
      </div></ng-container>

      
      <div class="form-container" *ngIf="isEditing">



        
        <label><p>Assigned to</p></label>
        <div class="dropdown">
          <button (click)="toggleDropdown()" class="dropdown-button">
            <span>Select contacts to assign</span>
            <img src="../../../assets/icons/arrow-dropdown-down.png" alt="" />
          </button>
          <div class="assign-container" [class.open]="dropdownOpen">
            <ul class="contact-list">
              @for (contact of contactList; track contact) {
                <label class="assignedStyle">
                  <div class="avatar" [ngStyle]="{ 'background-color': getAvatarColor(contact) }">
                    {{ getInitials(contact.name) }}
                  </div>
                  <div class="contactName">{{ contact.name }}</div>
                  <div class="checkContact">
                    <input type="checkbox" [checked]="selectedContacts.includes(contact)" 
                      (change)="toggleContactSelection(contact, $event)" class="custom-input" />
                  </div>
                </label>
              }
            </ul>
          </div>
        </div>
      
        @if (selectedContacts.length > 0) {
          <div class="assignedStyleSelected">
            @for (contact of selectedContacts; track contact) {
              <label>
                <div class="avatar" [ngStyle]="{ 'background-color': getAvatarColor(contact) }">
                  {{ getInitials(contact.name) }}
                </div> {{(contact.name) }}
              </label>
            }
          </div>
        }
      </div>
      



      <div class="subtasks">
        <span>Subtasks</span>
        <div class="subtask-container">
          <ng-container *ngIf="!isEditing; else editSubtasks">
            <div *ngFor="let st of todo?.subtasks">
              <input type="checkbox" [(ngModel)]="st.done" />
              <span>{{ st.title }}</span>
            </div>
          </ng-container>

          <ng-template #editSubtasks>
            <div *ngFor="let st of editedTodo.subtasks">
              <input type="checkbox" [(ngModel)]="st.done" />
              <input [(ngModel)]="st.title" />
            </div>
          </ng-template>
        </div>
      </div>

      <div class="delete-edit-container">
        <div class="deleteIcon" *ngIf="!isEditing">
          <img class="delete-icon" src="/assets/icons/delete.png" alt="delete-icon" />
          <span class="contact-link" (click)="deleteTodo()">Delete</span>
        </div>
        <hr *ngIf="!isEditing" />
        <div class="editIcon">
          <ng-container *ngIf="!isEditing; else saveButton">
            <img class="edit-icon" src="/assets/icons/edit.png" alt="edit-icon" (click)="editTodo()" />
            <span class="contact-link" (click)="editTodo()">Edit</span>
          </ng-container>
          <ng-template #saveButton>
            <div>
              <button class="check-task-btn" (click)="saveTodo()">
                Ok
                <img src="/assets/icons/check.png" alt="check-contact-button" />
              </button>
            </div>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>