<div
  class="shaddowBox"
  [class.closing]="isClosing"
  (click)="closeOverlay.emit()"
>
  <div class="task_card_wrapper" (click)="$event.stopPropagation()">
    <div class="task-container">
      <div class="header-task">
        <div class="task-category">{{ [todo?.category] }}</div>
        <div class="close" (click)="closeOverlay.emit()">
          <img src="/assets/icons/close.png" alt="close" />
        </div>
      </div>
      <p>{{ todo?.title }}</p>
      <p>{{ todo?.description }}</p>
      <div class="priority-date">
        <p>Due Date:</p>
        <span>{{ todo?.dueDate }}</span>
      </div>
      <div class="priority">
        <p>Priority:</p>
        <div class="priority-icon">
          <span>{{ todo?.priority }}</span>
          <img
            [src]="getPriorityIcon(todo?.priority)"
            alt="{{ todo?.priority }}"
          />
        </div>
      </div>
      <div class="assigned">
        <p>Assignet TO :</p>
        <div class="assigned-container">
          <div class="circle-of-task">GW</div>
          <span> Name.Nachname{{ todo?.assignedTo }}</span>
        </div>
      </div>
      <div class="subtasks">
        <p>Subtasks</p>
        <div class="subtask-container">
          <img
            [src]="isChecked ? checkedImage : uncheckedImage"
            alt="check_box"
            (click)="toggleCheckBox()"
          />
          <span> hier kommt ein Task{{ todo?.subtasks }}</span>
        </div>
      </div>
      <div class="delete-edit-container">
        <div class="deleteIcon">
          <img
            class="delete-icon"
            src="/assets/icons/delete.png"
            alt="delete-icon"
          />
          <p class="contact-link" (click)="deleteTodo()">Delete</p>
        </div>
        <div class="editIcon">
          <img class="edit-icon" src="/assets/icons/edit.png" alt="edit-icon" />
          <p class="contact-link">Edit</p>
        </div>
      </div>
    </div>
  </div>
</div>
