<div class="shaddowBox" [class.closing]="isClosing" (click)="closeOverlay.emit()">
  <div class="task_card_wrapper" (click)="$event.stopPropagation()">
    <div class="task-container">
      <div class="header-task">
        <div class="task-category">
          @if (!isEditing) {
            <span>{{ todo?.category }}</span>
          } @else {
            <input [(ngModel)]="editedTodo.category" />
          }
        </div>
        <div class="close" (click)="closeOverlay.emit()">
          <img src="/assets/icons/close.png" alt="close" />
        </div>
      </div>

      @if (!isEditing) {
        <p>{{ todo?.title }}</p>
      } @else {
        <input [(ngModel)]="editedTodo.title" />
      }

      @if (!isEditing) {
        <p>{{ todo?.description }}</p>
      } @else {
        <input [(ngModel)]="editedTodo.description" />
      }

      <div class="priority-date">
        <p>Due Date:</p>
        @if (!isEditing) {
          <span>{{ todo?.dueDate }}</span>
        } @else {
          <input type="date" [(ngModel)]="editedTodo.dueDate" />
        }
      </div>

      <div class="priority">
        <p>Priority:</p>
        <div class="priority-icon">
          @if (!isEditing) {
            <span>{{ todo?.priority }}</span>
          } @else {
            <select [(ngModel)]="editedTodo.priority">
              <option value="urgent">Urgent</option>
              <option value="medium">Medium</option>
              <option value="low">Low</option>
            </select>
          }
          <img [src]="getPriorityIcon(todo?.priority)" alt="{{ todo?.priority }}" />
        </div>
      </div>

      <div class="assigned">
        <p>Assigned TO :</p>
        <div class="assigned-container">
          <div class="circle-of-task">GW</div>
          @if (!isEditing) {
            <span>{{ todo?.assignedTo }}</span>
          } @else {
            <input [(ngModel)]="editedTodo.assignedTo" />
          }
        </div>
      </div>

      <div class="subtasks">
        <p>Subtasks</p>
        <div class="subtask-container">
          <img [src]="isChecked ? checkedImage : uncheckedImage" alt="check_box" (click)="toggleCheckBox()" />
          @if (!isEditing) {
            <span>{{ todo?.subtasks }}</span>
          } @else {
            <input [(ngModel)]="editedTodo.subtasks" />
          }
        </div>
      </div>

      <div class="delete-edit-container">
        <div class="deleteIcon">
          <img class="delete-icon" src="/assets/icons/delete.png" alt="delete-icon" />
          <p class="contact-link" (click)="deleteTodo()">Delete</p>
        </div>

        <div class="editIcon">
          @if (!isEditing) {
            <img class="edit-icon" src="/assets/icons/edit.png" alt="edit-icon" (click)="editTodo()" />
            <p class="contact-link" (click)="editTodo()">Edit</p>
          } @else {
            <div>
              <button (click)="saveTodo()">Save</button>
              <button (click)="cancelEdit()">Cancel</button>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

