@import "../../../styles.scss";

.assign-container {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background: white;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  transition: max-height 0.2s ease-in-out;

  &.open {
    display: block;
  }
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.assignedStyle {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  cursor: pointer;

  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }

  .contactName {
    flex-grow: 1;
  }

  .checkContact input {
    cursor: pointer;
  }
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}
.dropdown-button:hover {
  border-color: #999;
}

.dropdown-button:focus {
  outline: none;
  border-color: #29abe2;
}

.dropdown-button img {
  transition: transform 0.2s ease;
  margin-right: -5px;
}

.dropdown-button.active img {
  transform: rotate(180deg);
}

label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
}
.todo-title {
  font-size: 36px;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: 700;
}

.todo-description {
  font-size: 16px;
  font-weight: 400;
  color: $color-input-text;
}
.shaddowBox {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.task_card_wrapper {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 396px;
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  background-color: #ffffff;
  border-radius: 32px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.task-category {
  display: flex;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;
  color: white;
  width: 113px;
  justify-content: center;
  background-color: #0038ff;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
}
.task-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 30px;
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task-container::-webkit-scrollbar {
  display: none;
}
.task-container.editing {
  gap: 10px;
}

.header-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-task.edit-mode {
  justify-content: flex-end;
  height: 5px;
}
.close {
  width: 20px;
  cursor: pointer;
  > :hover {
    border-radius: 50%;
    background-color: #f3f4f6;
  }
}

.priority-date {
  display: flex;
  gap: 20px;
  align-items: center;
  > span:nth-child(1) {
    font-size: 16px;
    color: #42526e;
    font-family: $font-primary;
    font-weight: 700;
  }
}
.priority-date.editing {
  display: flex;
  gap: 0px;
  align-items: flex-start;
  flex-direction: column;
}

.priority-date.editing span:first-child {
  font-size: 16px;
  color: black;
  font-family: $font-primary;
  font-weight: normal;
}
.priority {
  display: flex;
  gap: 20px;
  align-items: center;
  > span:nth-child(1) {
    font-size: 16px;
    color: #42526e;
    font-family: $font-primary;
    font-weight: 700;
  }
}
.priority-display.editing {
  display: none;
}
#priority-icon.editing {
  display: none;
}
.priority-icon {
  display: flex;
  gap: 20px;
  align-items: center;
  > img {
    width: 17px;
    height: 12px;
  }
}

.assignedNameAvatar {
  display: flex;
  align-items: center;
}

.assigned-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-top: 20px;
}

.circle-of-task {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.delete-edit-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 95%;
}
.edit {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.editIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 26px;
  height: 24px;
  margin-right: 5px;
  padding-right: 30px;
  gap: 8px;

  > img {
    width: 24px;
    height: 24px;
  }
}
hr {
  height: 20px;
  margin: 10px;
}
.deleteIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  > img {
    width: 24px;
    height: 24px;
  }
}

.editIcon:hover .edit-icon {
  content: url("/assets/icons/edit-blue.png");
}

.editIcon:hover .contact-link {
  color: $color-primary-hover;
  font-weight: 700;
}

.deleteIcon:hover .delete-icon {
  content: url("/assets/icons/delete-blue.png");
}

.deleteIcon:hover .contact-link {
  color: $color-primary-hover;
  font-weight: 700;
}
.check-task-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: #2a3647;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;

  img {
    height: 32px;
  }

  &:hover {
    background: $color-primary-hover;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.subtask-entry {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: #f3f4f6;
  }
}
.custom-input {
  border: 0.5px solid #e7e7e7;
  transition: border-color 0.3s ease;
  color: rgb(87, 87, 87);
}

.custom-input:focus {
  outline: none;
  border-color: #29abe2;
}

.custom-input.ng-invalid.ng-touched {
  border-color: #ff3c00b6;
}

.custom-input:not(:focus):not(.ng-invalid.ng-touched) {
  border-color: #e7e7e7;
}
input[type="text"],
input[type="date"],
textarea,
select {
  border: 1px solid rgb(233, 233, 233);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  color: rgb(70, 69, 69);
}

textarea {
  height: 100%;
}
.priority-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.priority-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: inter;
  font-weight: 500;
  font-size: 16px;
  color: rgb(102, 102, 102);
}

.priority-buttons button:hover {
  font-weight: 500;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

.priority-btn {
  border-radius: 10px;
  border: 2px solid rgb(233, 233, 233);
  background-color: white;
  padding: 10px 13px;
  flex: 1;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.priority-btn.active[data-priority="urgent"] {
  background-color: #ff3d00;
  color: white;
  border-color: #ff3d00;
}

.priority-btn.active[data-priority="medium"] {
  background-color: #ffa500;
  color: white;
  border-color: #ffa500;
}

.priority-btn.active[data-priority="low"] {
  background-color: #7ae229;
  color: white;
  border-color: #7ae229;
}

.priority-btn.active img {
  filter: brightness(0) invert(1);
}
.error-message {
  color: #ff3c00b6;
  font-size: 11px;
  margin-top: 5px;
}
.assignedStyle {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  // border-bottom: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.assignedStyle:hover {
  background-color: #f8f8f8;
}

.assignedStyle.selected {
  background-color: #2a3d59;
  color: white;
}

.assignedStyleSelected {
  display: flex;
  align-items: center;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  flex-shrink: 0;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contactName {
  flex-grow: 1;
}

.checkContact {
  display: flex;
  justify-content: center;
}

#subtaskInput::placeholder {
  color: #979393;
  font-weight: 400;
}
#subtaskInput:focus {
  outline: none;
  border-color: #29abe2;
}

.subtask-container {
  position: relative;
  width: 100%;
  align-items: center;
}
.subtask-container-edit {
  position: relative;
  width: 100%;
  align-items: center;
}

#subtaskInput {
  width: 100%;
  padding-right: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#subtaskInput::placeholder {
  color: #979393;
  font-weight: 400;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icons {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.plus-button img {
  width: 10px;
}

.cancel-button img {
  width: 15px;
  margin-top: 6px;
}

.confirm-button img {
  width: 16px;
  margin-top: 5px;
  border-left: 1px solid #4e4e4e;
  padding-left: 12px;
}

.delete-button img {
  border-left: 1px solid #4e4e4e;
  padding-left: 15px;
}

.plus-button,
.cancel-button,
.confirm-button {
  background: none;
  border: none;
  cursor: pointer;
}

.subtask-buttons {
  display: inline-flex;
  gap: 5px;
  margin-left: 10px;
}

.subtask-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-button img {
  width: 16px;
}

.delete-button img {
  width: 16px;
}
#edit-input {
  width: 100%;
  border: none;
  outline: none;
  height: 32px;
  border-radius: 1px;
  border-bottom: 1px solid $color-primary-hover;
  background: #fff;
  padding: 3px;
}
.edit-input-icons {
  position: absolute;
  top: 2px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: white;
}
@media (max-width: 770px) {
  .task_card_wrapper {
    top: 45%;
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .task_card_wrapper::-webkit-scrollbar {
    display: none;
  }

  .task_card_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
