@import "styles/mixin.scss";
@import "styles/fonts.scss";
@import "styles/colors.scss";
@import "styles/responsive.scss";

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  // overflow-y: hidden;
}
